{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/home.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
<p>Welcome to my blog! I have not figured out what I should put on this page, and the site is still under test now.</p>
<p>You don't need to register at all - the only advantage (yet) of registered user is that you can delete your own
  comments, but that only works when you specified no alias (and purposely so).</p>
<p>Let me know if you detect any problems. Or any styles which doesn't look right... Well on second thought,
  don't tell me.</p>
</div>



{% endblock %}

{% block javascript %}

{% endblock %}
