.comment-row {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.comment-name {
  font-weight: bold;
  color: #3498DB;
  margin-bottom: 0.5rem;
}

.comment-time {
  font-size: 0.7em;
  color: #95a5a6;
  margin-left: 0.5rem;
}

.comment-text {
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
}

.btn {
  padding: 0.35rem 0.72rem;
  font-size: 0.85rem;
  line-height: 1.4;
}

.btn-sm {
  padding: 0.2rem 0.4rem;
  font-size: 0.7rem;
  line-height: 1.2;
  border-radius: 0.2rem;
}

.parent-field {
  display: none;
}

.form-error {
  color: red;
}

.comment-button {
  margin-bottom: 1rem;
}

.comment-note {
  font-size: 0.7em;
  color: #95a5a6;
  line-height: 1.1;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.comment-container {
  display:flex;
}

.hide-container {
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
}

.hide-container > a:visited { color:#95a5a6 !important; }
