.comment {
  margin-top: 3rem;
}

.comment-row {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.comment-name {
  font-weight: bold;
  color: #595959;
  margin-bottom: 0.5rem;
}

.comment-time {
  font-size: 0.7em;
  color: #999999;
  margin-left: 0.5rem;
}

.comment-text {
  color: #737373;
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
}

.comment-btn {
  color: #404040;
  border-color: #e6e6e6;
  border-width: 1.5px;
}

.comment-btn:hover {
  color: #404040;
  border-color: #e6e6e6;
  background-color: #e6e6e6;
}

.comment-btn.btn-sm {
  padding: 0.2rem 0.5rem;
  border-width: 1px;
}

.delete-btn {
  padding: 0.2rem 0.5rem;
  border-width: 1px;
}

.delete-btn.hover {
  color: #fff;
}

.parent-field {
  display: none;
}

.form-error {
  color: red;
}

#id_text {
  width: 100%;
}

#id_alias {
  max-width: 100%;
}

.modal button {
  margin-top: 0;
}

.comment-button {
  margin-bottom: 1rem;
}

.comment-note {
  font-size: 0.7em;
  color: #95a5a6;
  line-height: 1.1;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.comment-container {
  display:flex;
}

.hide-container {
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
}

.hide-container > a:visited { color:#95a5a6 !important; }
