{% load static %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/comment.css' %}" />
{% endblock %}

<div class="comment-button">
  <button type="button" class="btn btn-outline-info comment-btn my-btn">Write a comment!</button>
</div>

<div class="comment-container pb-3">
  {% if comment_list %}
  <div class="hide-container"><a href="#" class="hide-btn">&rarr;</a></div>
  {% endif %}
    <div class="to-hide">
  {% for comment in comment_list %}
    <div class="comment-row" id="{{ comment.id }}">
      {% if comment.alias %}
        <span class="comment-name">{{ comment.alias }}</span>
      {% elif comment.user  %}
        <span class="comment-name">{{ comment.user.username }}</span>
      {% else %}
          <span class="comment-name">Anonymous user</span>
      {% endif %}
      <span class="comment-time">{{ comment.pub_time }}</span>
      <div class="comment-text">{{ comment.text }}</div>
      <button type="button" class="btn btn-outline-info btn-sm comment-btn reply-btn my-btn">Reply</button>

      {% if user.get_username == comment.user.username or user.is_superuser %}
        <button type="button" class="btn btn-outline-secondary btn-sm delete-btn my-btn">Delete</button>
      {% endif %}
    </div>

      {% if comment.comment_set.all %}
      <div class="comment-container pl-5">
      <div class="hide-container"><a href="#" class="hide-btn">&rarr;</a></div>
        <div class="to-hide">
          {% for child_comment in comment.comment_set.all|dictsort:"pub_time" %}
            <div class="comment-row" id="{{ comment.id }}">
              {% if child_comment.alias %}
                <span class="comment-name">{{ child_comment.alias }}</span>
              {% elif child_comment.user  %}
                <span class="comment-name">{{ child_comment.user.username }}</span>
              {% else %}
                  <span class="comment-name">Anonymous user</span>
              {% endif %}
              <span class="comment-time">{{ child_comment.pub_time }}</span>
              <div class="comment-text">{{ child_comment.text }}</div>
              <button type="button" class="btn btn-outline-info btn-sm comment-btn reply-btn my-btn">Reply</button>

              {% if user.get_username == child_comment.user.username or user.is_superuser %}
                <button type="button" class="btn btn-outline-secondary btn-sm delete-btn my-btn">Delete</button>
              {% endif %}
            </div>
          {% endfor %}
        </div></div>
      {% endif %}
  {% endfor %}
</div></div>


<div id="comment-modal" class="modal fade">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="error-msg" class="form-error"></p>
          <form id="comment-form" method="post" action="">{% csrf_token %}

            <div class="fieldWrapper form-group">
              <label for="{{ form.alias.id_for_label }}">Alias: </label><br>
              {{ form.alias }}
              <div class="comment-note">Choose your name to display, leave blank to show your username(when logged in)
                or "Anonymous user".</div>
            </div>

            <div class="fieldWrapper form-group parent-field">
              <label for="{{ form.parent_id.id_for_label }}"></label><br>
              {{ form.parent_id }}
            </div>

            <div class="fieldWrapper form-group">
              <label for="{{ form.text.id_for_label }}">Comment: </label><br>
              {{ form.text }}
            </div>

            <button type="submit" class="btn my-btn">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>

      </div>
    </div>

</div>

{% block javascript %}<script src="{% static 'js/comment.js' %}"></script>{% endblock %}
