{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/detail.css' %}" />
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="post">
    <h2>{{ post.title }}</h2>

    <div class="info-container">
      <div class="post-time">{{ post.pub_time }}</div>
        {% for tag in post.tag.all %}
            <span class="badge badge-pill" id="{{ forloop.counter0 }}">{{ tag }}</span>
        {% endfor %}
    </div>

    <div class="post-text">
      {{ post.text|safe }}
    </div>

  </div>

  <div class="foot-nav">
    <span class="prev">
      {% if prev %}
        <a href="{% url 'posts:detail' prev.id %}">&larr; Previous: {{ prev.title|truncatechars:10 }}</a>
      {% else %}
        <a class="disabled">Previous: none</a>
      {% endif %}
    </span>

    <span class="next">
      {% if next %}
        <a href="{% url 'posts:detail' next.id %}">Next: {{ next.title|truncatechars:10 }} &rarr;</a>
      {% else %}
        <a class="disabled">Next: none</a>
      {% endif %}
    </span>
  </div><br>

  <div class="comment">
  {% include "posts/comment.html" with post=post form=form %}
  </div>
</div>
{% endblock %}

{% block javascript %}<script src="{% static 'js/detail.js' %}"></script>{% endblock %}
